body {
  font-family: verdana;
}
h1 {
  color: black;
  font-size: 28px;
}
p {
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.test {
  margin: auto;
  width: 500px;
  text-align: center;
  background-color: beige;
  border: 2px solid black; 
  border-radius: 5%;
  padding: 20px;
}
/* Style the tab */
.tab {
  margin: auto;
  height: auto;
  width: 500px;
  padding: 15px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: beige;
  border: 3px solid black;
  border-radius: 5%;
}

/* Style the buttons that are used to open the tab content */
.tab tablinks {
  background-color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.2s;
  font-weight: bold;
}

/* Change background color of buttons on hover */
.tab tablinks:hover {
  background-color: orange;
}

/* Create an active/current tablink class */
.tab tablinks.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 18px 24px;
  border: 2px solid black;
  background-color: white;
}

.emailbutton {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 16px;
}

/*Adjust top div based on screen width */
/*
@media screen and (max-width: 300px) {
  body {
     width: 50%;
  }
}
*/
